@model DACS_QuanLyPhongTro.Models.DichVu

@{
    ViewData["Title"] = "Thêm dịch vụ";
    Layout = "/Areas/ChuTroArea/Views/Shared/layoutAdmin.cshtml";
}

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="text-success text-center mb-4">@ViewData["Title"]</h2>

    <form asp-action="TaoDichVu" method="post">
        <div class="form-group mb-3">
            <label>Tên dịch vụ</label>
            <input asp-for="TenDichVu" class="form-control" required />
        </div>

        <div class="form-group mb-3">
            <label>Đơn giá</label>
            <input asp-for="DonGiaDichVu" class="form-control" required type="number" />
        </div>

        <div class="form-group mb-3">
            <label>Mô tả</label>
            <textarea asp-for="MoTa" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-success btn-custom btn-zoom">Lưu</button>
        <a asp-action="DanhSachDichVu" class="btn btn-secondary btn-custom btn-zoom ms-2">Hủy</a>
    </form>
</div>
