<!-- Footer Start -->
<div id="footer" class="container-fluid bg-dark text-secondary mt-5 pt-5" style="min-height: 150px;">
    <div class="row px-xl-5 pt-4 d-flex align-items-center">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Liên Hệ Với Chúng Tôi</h5>
            <p class="mb-4">Nếu có bất kì vấn đề nào liên quan đến sản phẩm hay đơn hàng hãy liên hệ với chúng tôi</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>218/10B đường Tô Ngọc Vân, phường Linh Đông, thành phố Thủ Đức, thành phố Hồ Chí Minh</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>lephuoclong04052004@gmail.com / trami27012004@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84862357096 / +84775471650</p>
        </div>
        <div class="col-lg-8 col-md-12 d-flex justify-content-center justify-content-lg-end align-items-center">
            <div>
                <h5 class="text-secondary text-uppercase mb-4">Ý kiến đóng góp</h5>
                <h7 class="text-secondary text-uppercase mb-4">Liên hệ qua các trang mạng xã hội</h7>
                <div class="d-flex">
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-github"></i></a>
                    <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-tiktok"></i></a>
                    <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-3" style="border-color: rgba(255, 255, 255, 0.1) !important; display: flex; justify-content: space-between; align-items: center;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://daotao.hutech.edu.vn/default.aspx?page=dangnhap">HUTECH UNIVERSITY</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="" style="max-height: 30px;">
        </div>
    </div>
</div>
<!-- Footer End -->

<style>
    #footer {
        min-height: 150px !important;
        padding-top: 1rem !important;
        margin-top: 1rem !important;
    }

        #footer > .row {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
            margin-top: 0 !important;
        }

        #footer img {
            max-height: 30px !important;
        }

        /* Giữ khoảng cách đều các cột ở trên */
        #footer .row > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /* Form input email + nút */
        #footer form input {
            border-radius: 4px;
            padding: 0.375rem 0.75rem;
        }

        #footer form button {
            border-radius: 4px;
        }
</style>
