@model DACS_QuanLyPhongTro.Models.ToaNha

@{
    ViewData["Title"] = "Xóa Tòa Nhà";
    Layout = "~/Areas/ChuTroArea/Views/Shared/layoutAdmin.cshtml";
}

<h2 class="text-center">Xóa Tòa Nhà</h2>



<form method="post">
    <input type="hidden" asp-for="MaToaNha" />
    <div class="form-group">
        <label asp-for="TenToaNha"></label>
        <p>@Model.TenToaNha</p>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi"></label>
        <p>@Model.DiaChi</p>
    </div>
    <div class="form-group">
        <label asp-for="TongSoTang"></label>
        <p>@Model.TongSoTang</p>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Xóa" class="btn btn-danger btn-lg rounded-pill px-5" />
        <a asp-action="Index" class="btn btn-secondary ms-3 btn-lg px-5">Quay lại</a>
    </div>
</form>
